@model Wiki.Models.PostCommentDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PostCommentDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostCommentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCommentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Catagory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catagory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PostCommentId }) |
    @Html.ActionLink("Back to List", "Index")
    @Html.ActionLink("Create Thread", "Create", "Thread", new { id = Model.PostCommentId }, null)
</p>
